@mixin sideMargin1 {
    margin-left: 10px;
    margin-right: 10px;
}
@mixin sideMargin2 {
    margin-left: 15px;
    margin-right: 15px;
}

.body {
    @include sideMargin1;
}

.div {
    @include sideMargin2();
}